@inherits LayoutComponentBase

<div class="page">
    <div class="main container-fluid">
        <NavMenu></NavMenu>    
        <div class="h-100 d-flex align-items-center justify-content-center">
        <main>
            <div>
                <article class="content">
                   @Body
                </article>
            </div>
        </main>
        </div>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.

        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
</div>